<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>iqitadditionaltabs</name>
    <displayName><![CDATA[IQITADDITIONALTABS - custom product tabs]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Extend your products description with additional tabs]]></description>
    <author><![CDATA[IQIT-COMMERCE.COM]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>