<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ph_simpleblog</name>
    <displayName><![CDATA[Blog for PrestaShop 1.7]]></displayName>
    <version><![CDATA[1.5.1]]></version>
    <description><![CDATA[Adds a blog to your PrestaShop store]]></description>
    <author><![CDATA[www.PrestaHome.com]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete this module ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>