#iqitcompare-table {
  position: relative;

  > .iqitcompare-table-container {
    overflow-x: auto;
    overflow-y: hidden;
  }
  > .iqitcompare-table-actions {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(160, 160, 160, 0.25);
  }

  .iqitcompare-product-td {
    border: none !important;
  }

  td {
    width: 200px;
    min-width: 200px;
  }

  tbody {
    float: left;
    width: 100%;
  }

  .iqitcompare-product-tr {
    background: none !important;
  }

  .iqitcompare-product {
    padding-top: 2.0rem;
    position: relative;
  }

  .iqitcompare-product .iqitcompare-remove {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.btn-iqitcompare-add{
  .added{
    display: none;
  }
}

.btn-iqitcompare-add.iqitcompare-added{
  .added{
    display: inline-block;
  }
  .not-added{
    display: none;
  }
}



