<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>iqitpopup</name>
    <displayName><![CDATA[IQITPOPUP - Pop-up window module with newsletter subscription]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Show custom popup in your prestashop store. ]]></description>
    <author><![CDATA[IQIT-COMMERCE.COM]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>