.iqitsizeguide-avaiable-sizes{
    transform: translateY(50%);
    opacity: 0;
    transition: opacity .2s cubic-bezier(.7,0,.3,1),transform .2s cubic-bezier(.7,0,.3,1);
}
.product-miniature:hover .iqitsizeguide-avaiable-sizes{
    transform: translateY(0);
    opacity: 1;
}

.iqitsizeguide-avaiable-sizes span{
    padding: 0 0.2rem;
    display: inline-block;
}
.iqitsizeguide-avaiable-sizes .unavailable-size{
    text-decoration: line-through;
    opacity: 0.3;
}

#iqitsizecharts-modal .modal-dialog{
    max-width: 960px;
}
